
.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



.flat-description {
background-color:#DBDDE0;
padding:10px;
margin:10px;
border-radius: 5px;
}

.flat-address {
background-color:#DBDDE0;
padding:10px;
margin:10px;
border-radius: 5px;
}


.flat_details {
background-color:#DBDDE0;

padding:10px;
margin:10px;
border-radius: 5px;
}

